
  <div id="footer" class="phpwpcc_footer">
      {% block footer %}
      &copy; Copyright 2014 by <a href="https://github.com/ousamabenyounes/PHPWpcc" target="_blank">Ben Younes Ousama</a>.
      {% endblock %}
  </div>


