<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    {% block phpwpcc_head %}
    <title>PHPWpcc Mail Reporting</title>
    <meta name="author" content="Ousama Ben Younes" />
    {% endblock %}

  </head>
  <body>


     <h1>{% block title %}PHPWpcc  {% endblock %}</h1>
    
    {% block content %}
    {% endblock %}



  </body>
</html>
